node-linker=hoisted
# public-hoist-pattern[]="@vitest/spy"
# public-hoist-pattern[]="tinyspy"
# public-hoist-pattern[]="@electron/packager"
# public-hoist-pattern[]="@electron/asar"
# public-hoist-pattern[]="commander"
# public-hoist-pattern[]="glob"
# public-hoist-pattern[]="foreground-child"
# public-hoist-pattern[]="cross-spawn"
# public-hoist-pattern[]="path-key"
# public-hoist-pattern[]="shebang-command"
# public-hoist-pattern[]="shebang-regex"
# public-hoist-pattern[]="which"
# public-hoist-pattern[]="isexe"
# public-hoist-pattern[]="signal-exit"
# public-hoist-pattern[]="jackspeak"
# public-hoist-pattern[]="@isaacs/cliui"
# public-hoist-pattern[]="string-width"
# public-hoist-pattern[]="emoji-regex"
# public-hoist-pattern[]="is-fullwidth-code-point"
# public-hoist-pattern[]="strip-ansi"
# public-hoist-pattern[]="ansi-regex"
# public-hoist-pattern[]="string-width-cjs"
# public-hoist-pattern[]="strip-ansi-cjs"
# public-hoist-pattern[]="wrap-ansi"
# public-hoist-pattern[]="ansi-styles"
# public-hoist-pattern[]="color-convert"
# public-hoist-pattern[]="color-name"
# public-hoist-pattern[]="wrap-ansi-cjs"
# public-hoist-pattern[]="minimatch"
# public-hoist-pattern[]="brace-expansion"
# public-hoist-pattern[]="balanced-match"
# public-hoist-pattern[]="minipass"
# public-hoist-pattern[]="package-json-from-dist"
# public-hoist-pattern[]="path-scurry"
# public-hoist-pattern[]="lru-cache"
# public-hoist-pattern[]="yallist"
# public-hoist-pattern[]="@electron/get"
# public-hoist-pattern[]="debug"
# public-hoist-pattern[]="ms"
# public-hoist-pattern[]="env-paths"
# public-hoist-pattern[]="fs-extra"
# public-hoist-pattern[]="graceful-fs"
# public-hoist-pattern[]="jsonfile"
# public-hoist-pattern[]="universalify"
# public-hoist-pattern[]="got"
# public-hoist-pattern[]="@sindresorhus/is"
# public-hoist-pattern[]="@szmarczak/http-timer"
# public-hoist-pattern[]="defer-to-connect"
# public-hoist-pattern[]="@types/cacheable-request"
# public-hoist-pattern[]="@types/http-cache-semantics"
# public-hoist-pattern[]="@types/keyv"
# public-hoist-pattern[]="undici-types"
# public-hoist-pattern[]="@types/responselike"
# public-hoist-pattern[]="cacheable-lookup"
# public-hoist-pattern[]="cacheable-request"
# public-hoist-pattern[]="clone-response"
# public-hoist-pattern[]="mimic-response"
# public-hoist-pattern[]="get-stream"
# public-hoist-pattern[]="@sec-ant/readable-stream"
# public-hoist-pattern[]="is-stream"
# public-hoist-pattern[]="http-cache-semantics"
